<h2 class="ui header">My Heroes</h2>
<div class="ui big link list">
  <div *ngFor="let hero of heroes" class="item">
    <a routerLink="/detail/{{ hero.id }}">
      <span>
        {{ hero.id }}
      </span>
      <span>
        {{ hero.name }}
      </span>
    </a>
    <button class="ui red button" title="delete hero" (click)="delete(hero)">
      x
    </button>
  </div>
</div>
<div class="container">
  <div class="ui action input">
    <input #heroName placeholder="Enter hero name" />
    <button
      class="ui primary button"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Add Hero
    </button>
  </div>
</div>
