<h2>My Heroes</h2>
<div class="ui big link list">
  <div *ngFor="let hero of heroes" class="item">
    <a routerLink="/detail/{{ hero.id }}">
      <span>
        {{ hero.id }}
      </span>
      <span>
        {{ hero.name }}
      </span>
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </div>
</div>
<div>
  <label
    >Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value = ''">
    add
  </button>
</div>
